*{
    color: rgb(255, 81, 0);
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    text-align: justify;
}

h1{
    color: rgb(255, 81, 0);
    text-align: center
}

p{
    color: blue;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif; 
 }

h2{
    color: rgb(5, 5, 223);
    text-align: justify;
}

*{
    color: blue;
    text-align: justify;
}

*{
    color: blue;
    text-align: justify;
}

img{
   margin: auto;
   padding: 0%;
   max-width: 600px;
   object-fit: cover;
   width: 200px;
   height: 200px;
   border-radius: 200px;
  }